{{> header}}
<main>
        <span class="error">{{fieldErr}}</span>
    <h1>Browser</h1>
    {{> search}}
    {{#each cubes}}
        {{> cube}}
        {{else}}
        <div>{{infoMessage}}</div>
        {{/each}}
</main>
{{> footer}}