<form method="post" class="chat-form">
    <textarea rows="5" name="message" placeholder="message"></textarea>
    <input value="{{threadId}}" name="threadId" hidden />
    <button class="btn btn-primary send">Send</button>
</form>