        <form action="/threads/remove/{{_id}}" method="POST">
            <h4>{{users.[0]}} - {{users.[1]}}</h4>
            <p>{{dateCreated}}</p>
            <button class="btn">Delete</button>
        </form>