<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Demo Server</title>
    <link href="../../static/css/site.css" type="text/css" rel="stylesheet">

</head>
<body>
    <div class="container">
        {{{body}}}
    </div>
    <script src="../../static/js/jq.js"></script>
    <script src="../../static/js/js.js"></script>
</body>

</html>