<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Cool Blog System</title>
    <link href="../../static/css/site.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <div class="container nav">
        <ul class="menu">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li></li>
            {{#if currentUser}}
            <li>
                <a href="/logout">Logout</a>
            </li>
                <li>Welcome, {{currentUser.username}}</li>
            {{else}}
            <li>
                <a href="/register">Register</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
            {{/if}}
        </ul>
    {{#if globalError}}
        <h3>{{globalError}}</h3>
    {{/if}}
        {{{body}}}
    </div>
</body>

</html>