{{>header}}
{{#if message}}
    <div class="message">{{message}}</div>
{{/if}}
<main>
    <h1>Hello I'm your Node Meme DB app!</h1>
    <h4>So far, more then {{memes}} memes uploaded...</h4>
    <div id="poster">
        <img alt="poster" src="../public/memeStorage/0/index.jpg"/>
    </div>
</main>
{{> footer}}
