{{>header}}
<main>
    <h1>Hello I'm your Node Meme DB app!</h1>
    <div class="formContainer">
        <form class="forms" method="post" action="/register">
            <h2>Register</h2>
            <label for="regUsername">Username:</label><input id="regUsername" type="text" name="username"
                                                             value="{{inputData.username}}"/>
            <label for="regPassword">Password:</label><input id="regPassword" type="password" name="password"
                                                             value="{{inputData.password}}"/>
            <label for="regPassword">RepeatPass:</label><input id="regPassword" type="password" name="repPass"
                                                             value="{{inputData.repPass}}"/>
            <input class="submit" type="submit" value="Register"/>
        </form>
    </div>
</main>
{{> footer}}