<h1>Projects</h1>
<form class="search">
    <label>Seach: </label>
    <input type="text">
    <input type="submit" value="Search">
</form>
<div class="projects">
    {{#each projects}}
        <div class="project">
            <h2>{{name}}</h2>
            {{#if team}}
                <h3>Team: {{team.name}}</h3>
            {{else}}
                <h3>Team: No Team assigned</h3>
            {{/if}}
            <p>Description: {{description}}</p>
        </div>
    {{/each}}
</div>