<div class="cube">
    <img class="cube" src="{{imageURL}}">
    <p class="name">{{name}}</p>
    <p><span>Difficulty level:</span> {{difficulty}}</p>
    <button><a href="/details/{{_id}}">Details</a></button>
</div>