<form>
    <input type="text" class="search" name="search" placeholder="Search...">
    <input type="number" name="from" class="difficulty" placeholder="Difficulty from... 1">
    <span>-</span>
    <input type="number" name="to" class="difficulty" placeholder="Difficulty to... 6">
    <input type="submit" value="search">
</form>