{{>header}}
{{#if message}}
    <div class="message">{{message}}</div>
{{/if}}
<main>
    <h1>Welcome to Doner Place!</h1>
    <div class="formContainer">

        <form class="forms" method="post" action="/login">
            <h2>Login</h2>
            <label for="username">Username:</label><input id="username" type="text" name="username"
                                                          value="{{inputData.username}}"/>
            <br/>
            <label for="password">Password:</label><input id="password" type="password" name="password" value="{{inputData.password}}"/>
            <br/>
            <input class="submit" type="submit" value="Login"/>
        </form>
    </div>
</main>
{{> footer}}