{{#if message}}
    <div class="message">{{message}}</div>
{{/if}}
<h1>Login to Shop!</h1>
<form method="post" action="/auth/login">
    <p>Username</p>
    <input type="text" name="username" value="{{inputData.username}}">
    <p>Password</p>
    <input type="password" name="password" value="{{inputData.password}}">
    <br>
    <input type="submit" value="Login">
</form>
<a href="/auth/register">Register</a>